root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cs,csproj,xaml,resx,config,json,xml,md,txt}]
charset = utf-8-bom

[*.{yml,yaml}]
indent_size = 2